# Tutorial 00: Computing features

In this notebook, we can see how to compute features making use of the Pipeline and Feature classes. First, we import a function to load data from multiple cities and the module that contains the code for features.

In [1]:
%load_ext autoreload
%autoreload 2
from damage.data import load_data_multiple_cities
from damage import features

Now, we start by reading the data for any cities we are interested in. In this case, we will load data from Aleppo.

In [28]:
## Reading
cities = ['aleppo']

rasters_path = '../data/city_rasters/'
annotations_path = '../data/annotations/'
polygons_path = '../data/polygons/'

data = load_data_multiple_cities(cities, rasters_path, annotations_path, polygons_path)

The resulting object is a dictionary with the filenames preceded by a keyword (populated_areas, annotation, raster) as keys and data as values (dataframes, tifs, arrays...). By adding that keyword as a prefix we will be able to detect on a later step what type of data each key contains. 

The mapping between the city name (Aleppo in this case) and the corresponding filenames is done at damage/data/data_sources.py Ideally, we should create a standard way of naming the files so that file is not required.

In [29]:
data.keys()

dict_keys(['populated_areas_populated_areas.shp', 'annotation_6_Damage_Sites_Aleppo_SDA.shp', 'raster_aleppo_2011_06_26_zoom_19.tif', 'raster_aleppo_2013_05_26_zoom_19.tif', 'raster_aleppo_2013_09_23_zoom_19.tif', 'raster_aleppo_2013_10_31_zoom_19.tif', 'raster_aleppo_2014_05_23_zoom_19.tif', 'raster_aleppo_2014_07_14_zoom_19.tif', 'raster_aleppo_2014_10_22_zoom_19.tif', 'raster_aleppo_2014_12_15_zoom_19.tif', 'raster_aleppo_2015_10_26_zoom_19.tif', 'raster_aleppo_2015_11_22_zoom_19.tif', 'raster_aleppo_2016_03_23_zoom_19.tif', 'raster_aleppo_2016_03_29_zoom_19.tif', 'raster_aleppo_2016_09_18_zoom_19.tif', 'raster_aleppo_2016_10_19_zoom_19.tif', 'no_analysis_areas_5_No_Analysis_Areas_Aleppo.shp'])

In [33]:
# check unique dates
shapefile_df = data['annotation_6_Damage_Sites_Aleppo_SDA.shp']
print(shapefile_df.SensDt.unique())
print(shapefile_df.SensDt_2.unique())
print(shapefile_df.SensDt_3.unique())
print(shapefile_df.SensDt_4.unique())

[None '2013-09-23']
['2014-05-23' None]
['2015-04-26' None '2015-05-01']
['2016-09-18']

Now, let's get into the code of the Pipeline.

## The feature pipeline

The ___Pipeline___ class takes a __list of tuples__ (name, function) for preprocessors and features and applies them with the transform method. __The feature functions need to return a dataframe with an identically structured index so the merge can be performed (e.g. city, patch_id).__

The ___transform___ method __takes a dictionary of data__ where each key represents a different data source (e.g. annotations) and each value a data object (e.g. pandas dataframe). The transform         method __iterates first over the preprocessor functions, overwriting the data object__. Then, it __iterates over the feature functions creating new keys__ in the data dictionary with the passed name. That way, features can use data generates by previously computed features.

Finally, the transform method merges the data generates by the feature functions making use of the __common index structure__.

In [6]:
from functools import reduce
import pandas as pd

from damage.features.base import Transformer


class Pipeline(Transformer):

    def __init__(self, features, preprocessors):
        self.features = features
        self.feature_names = [feature_name for feature_name, _ in self.features]
        self.preprocessors = preprocessors

    def transform(self, data):
        for preprocessor_name, preprocessor in self.preprocessors:
            data = preprocessor(data)

        for feature_name, feature in self.features:
            data[feature_name] = feature(data)

        feature_data = [data[name] for name in self.feature_names if name in data.keys()]
        feature_data = self._merge_feature_data(feature_data)
        return feature_data

    def _merge_feature_data(self, feature_data):
        return reduce(lambda l, r: pd.merge(l, r, left_index=True, right_index=True, how='outer'), feature_data)

## A toy example

Let's go first with a toy example. First we create our data.

In [6]:
annotations = pd.DataFrame({
    'destroyed': [0, 1],
    'patch_id': ['1', '2'],
})
annotations

   destroyed patch_id
0          0        1
1          1        2

In [7]:
image = pd.DataFrame({
    'image': ['image_a', 'image_b'],
    'patch_id': ['1', '2'],
})
image

     image patch_id
0  image_a        1
1  image_b        2

In [8]:
data = {
    'annotations': annotations,
    'image': image
}

Now, we create some simple functions

In [9]:
def preprocessor_preprocess_annotations(data):
    annotation_data = data['annotations']
    data['annotations'] = annotation_data.rename(columns={'destroyed': 'damage'})
    return data

def feature_create_damage_dummy(data):
    annotation_data = data['annotations'].set_index('patch_id')
    damage_dummy = pd.get_dummies(annotation_data['damage'], drop_first=True, prefix='destroyed')
    return damage_dummy

def feature_split_images(data):
    image_data = data['image'].set_index('patch_id')
    # Split
    return image_data

Now we apply these functions to the data dictionary we created and we well get a pandas dataframe with our features, indexed by the common index.

In [11]:
pipeline = Pipeline(
    preprocessors=[
        ('preprocess_annotations', preprocessor_preprocess_annotations)
    ],
    features=[
        ('damage_dummy', feature_create_damage_dummy),
        ('feature_split_images', feature_split_images)
    ]
)
feature_data = pipeline.transform(data)
feature_data.head()

          destroyed_1    image
patch_id
1                   0  image_a
2                   1  image_b

## A real example

Next, we run a real example, with the data from daraa and some feature classes that exist in the damage library.

In [22]:
## Reading
cities = ['daraa']

rasters_path = '../data/city_rasters/'
annotations_path = '../data/annotations/'
polygons_path = '../data/polygons/'

data = load_data_multiple_cities(cities, rasters_path, annotations_path, polygons_path)

In [23]:
### Processing
from datetime import timedelta
patch_size = 64
stride = patch_size
TIME_TO_ANNOTATION_THRESHOLD = timedelta(weeks=1)
pipeline = features.Pipeline(
    preprocessors=[
        ('AnnotationPreprocessor', features.AnnotationPreprocessor()),
    ],
    features=[
        ('RasterSplitter', features.RasterSplitter(patch_size=patch_size, stride=stride)),
        ('AnnotationMaker', features.AnnotationMaker(patch_size, TIME_TO_ANNOTATION_THRESHOLD)),
        ('RasterPairMaker', features.RasterPairMaker()),
    ],

)

feature_data = pipeline.transform(data)

INFO:::AnnotationPreprocessor:::2019-07-26 13:07:59,896:::Applying AnnotationPreprocessor
INFO:::RasterSplitter:::2019-07-26 13:08:00,109:::Applying RasterSplitter
100%|██████████| 207/207 [01:29<00:00,  2.32it/s]
100%|██████████| 207/207 [01:08<00:00,  3.04it/s]
INFO:::AnnotationMaker:::2019-07-26 13:10:57,831:::Applying AnnotationMaker
INFO:::RasterPairMaker:::2019-07-26 13:10:58,217:::Applying RasterPairMaker

In [27]:
len(shapefile_df)

2913

In [24]:
feature_data

                            annotation_date  damage_num  destroyed  \
city  patch_id   date
daraa 10016-3424 2017-02-07             NaN         NaN        NaN
      10016-3488 2017-02-07             NaN         NaN        NaN
      10016-3552 2017-02-07             NaN         NaN        NaN
      10016-3616 2017-02-07             NaN         NaN        NaN
      10016-3680 2017-02-07             NaN         NaN        NaN
      10016-3744 2017-02-07             NaN         NaN        NaN
      10016-3808 2017-02-07             NaN         NaN        NaN
      10016-3872 2017-02-07             NaN         NaN        NaN
      10016-3936 2017-02-07             NaN         NaN        NaN
      10016-4000 2017-02-07             NaN         NaN        NaN
      10016-4064 2017-02-07             NaN         NaN        NaN
      10016-4128 2017-02-07             NaN         NaN        NaN
      10016-4192 2017-02-07             NaN         NaN        NaN
      10016-4256 2017-02-07             NaN         NaN        NaN
      10016-4320 2017-02-07             NaN         NaN        NaN
      10016-4384 2017-02-07             NaN         NaN        NaN
      10016-4448 2017-02-07             NaN         NaN        NaN
      10016-4512 2017-02-07             NaN         NaN        NaN
      10016-4576 2017-02-07             NaN         NaN        NaN
      10016-4640 2017-02-07             NaN         NaN        NaN
      10016-4704 2017-02-07             NaN         NaN        NaN
      10016-4768 2017-02-07             NaN         NaN        NaN
      10016-4832 2017-02-07             NaN         NaN        NaN
      10016-4896 2017-02-07             NaN         NaN        NaN
      10016-4960 2017-02-07             NaN         NaN        NaN
      10016-5024 2017-02-07             NaN         NaN        NaN
      10016-5088 2017-02-07             NaN         NaN        NaN
      10016-5152 2017-02-07             NaN         NaN        NaN
      10016-5216 2017-02-07             NaN         NaN        NaN
      10016-5280 2017-02-07             NaN         NaN        NaN
...                                     ...         ...        ...
      9952-6752  2017-02-07             NaN         NaN        NaN
      9952-6816  2017-02-07             NaN         NaN        NaN
      9952-6880  2017-02-07             NaN         NaN        NaN
      9952-6944  2017-02-07             NaN         NaN        NaN
      9952-7008  2017-02-07             NaN         NaN        NaN
      9952-7072  2017-02-07             NaN         NaN        NaN
      9952-7136  2017-02-07             NaN         NaN        NaN
      9952-7200  2017-02-07             NaN         NaN        NaN
      9952-7264  2017-02-07             NaN         NaN        NaN
      9952-7328  2017-02-07             NaN         NaN        NaN
      9952-7392  2017-02-07             NaN         NaN        NaN
      9952-7456  2017-02-07             NaN         NaN        NaN
      9952-7520  2017-02-07             NaN         NaN        NaN
      9952-7584  2017-02-07             NaN         NaN        NaN
      9952-7648  2017-02-07             NaN         NaN        NaN
      9952-7712  2017-02-07             NaN         NaN        NaN
      9952-7776  2017-02-07             NaN         NaN        NaN
      9952-7840  2017-02-07             NaN         NaN        NaN
      9952-7904  2017-02-07             NaN         NaN        NaN
      9952-7968  2017-02-07             NaN         NaN        NaN
      9952-8032  2017-02-07             NaN         NaN        NaN
      9952-8096  2017-02-07             NaN         NaN        NaN
      9952-8160  2017-02-07             NaN         NaN        NaN
      9952-8224  2017-02-07             NaN         NaN        NaN
      9952-8288  2017-02-07             NaN         NaN        NaN
      9952-8352  2017-02-07             NaN         NaN        NaN
      9952-8416  2017-02-07             NaN         NaN        NaN
      9952-8480  2017-02-07             NaN         NaN        NaN
      9952-8544  2017-02-07             NaN         NaN        NaN
      9952-8608  2017-02-07             NaN         NaN        NaN

                             is_in_no_analysis?   latitude  longitude  \
city  patch_id   date
daraa 10016-3424 2017-02-07                True  32.642610  36.121848
      10016-3488 2017-02-07               False  32.642266  36.121848
      10016-3552 2017-02-07               False  32.641923  36.121848
      10016-3616 2017-02-07               False  32.641580  36.121848
      10016-3680 2017-02-07               False  32.641236  36.121848
      10016-3744 2017-02-07               False  32.640893  36.121848
      10016-3808 2017-02-07               False  32.640550  36.121848
      10016-3872 2017-02-07               False  32.640207  36.121848
      10016-3936 2017-02-07               False  32.639863  36.121848
      10016-4000 2017-02-07               False  32.639520  36.121848
      10016-4064 2017-02-07               False  32.639177  36.121848
      10016-4128 2017-02-07               False  32.638833  36.121848
      10016-4192 2017-02-07               False  32.638490  36.121848
      10016-4256 2017-02-07               False  32.638147  36.121848
      10016-4320 2017-02-07               False  32.637803  36.121848
      10016-4384 2017-02-07               False  32.637460  36.121848
      10016-4448 2017-02-07               False  32.637117  36.121848
      10016-4512 2017-02-07               False  32.636773  36.121848
      10016-4576 2017-02-07               False  32.636430  36.121848
      10016-4640 2017-02-07               False  32.636087  36.121848
      10016-4704 2017-02-07               False  32.635743  36.121848
      10016-4768 2017-02-07               False  32.635400  36.121848
      10016-4832 2017-02-07               False  32.635057  36.121848
      10016-4896 2017-02-07               False  32.634713  36.121848
      10016-4960 2017-02-07               False  32.634370  36.121848
      10016-5024 2017-02-07               False  32.634027  36.121848
      10016-5088 2017-02-07               False  32.633683  36.121848
      10016-5152 2017-02-07               False  32.633340  36.121848
      10016-5216 2017-02-07               False  32.632997  36.121848
      10016-5280 2017-02-07               False  32.632653  36.121848
...                                         ...        ...        ...
      9952-6752  2017-02-07                True  32.624757  36.121505
      9952-6816  2017-02-07                True  32.624414  36.121505
      9952-6880  2017-02-07                True  32.624070  36.121505
      9952-6944  2017-02-07                True  32.623727  36.121505
      9952-7008  2017-02-07                True  32.623384  36.121505
      9952-7072  2017-02-07                True  32.623040  36.121505
      9952-7136  2017-02-07                True  32.622697  36.121505
      9952-7200  2017-02-07                True  32.622354  36.121505
      9952-7264  2017-02-07                True  32.622010  36.121505
      9952-7328  2017-02-07               False  32.621667  36.121505
      9952-7392  2017-02-07               False  32.621324  36.121505
      9952-7456  2017-02-07               False  32.620980  36.121505
      9952-7520  2017-02-07               False  32.620637  36.121505
      9952-7584  2017-02-07               False  32.620294  36.121505
      9952-7648  2017-02-07               False  32.619950  36.121505
      9952-7712  2017-02-07               False  32.619607  36.121505
      9952-7776  2017-02-07               False  32.619264  36.121505
      9952-7840  2017-02-07               False  32.618921  36.121505
      9952-7904  2017-02-07               False  32.618577  36.121505
      9952-7968  2017-02-07               False  32.618234  36.121505
      9952-8032  2017-02-07               False  32.617891  36.121505
      9952-8096  2017-02-07               False  32.617547  36.121505
      9952-8160  2017-02-07               False  32.617204  36.121505
      9952-8224  2017-02-07               False  32.616861  36.121505
      9952-8288  2017-02-07               False  32.616517  36.121505
      9952-8352  2017-02-07                True  32.616174  36.121505
      9952-8416  2017-02-07               False  32.615831  36.121505
      9952-8480  2017-02-07               False  32.615487  36.121505
      9952-8544  2017-02-07               False  32.615144  36.121505
      9952-8608  2017-02-07               False  32.614801  36.121505

                                                                         image
city  patch_id   date
daraa 10016-3424 2017-02-07  [[[0, 0, 25, 33, 32, 33], [0, 0, 25, 16, 20, 2...
      10016-3488 2017-02-07  [[[74, 57, 58, 74, 49, 41], [82, 65, 66, 90, 6...
      10016-3552 2017-02-07  [[[82, 69, 74, 74, 57, 49], [90, 77, 74, 74, 5...
      10016-3616 2017-02-07  [[[16, 16, 25, 25, 20, 16], [16, 12, 16, 16, 1...
      10016-3680 2017-02-07  [[[115, 101, 99, 90, 61, 58], [107, 93, 90, 90...
      10016-3744 2017-02-07  [[[74, 81, 66, 49, 36, 33], [49, 61, 49, 41, 3...
      10016-3808 2017-02-07  [[[115, 113, 115, 82, 69, 58], [123, 113, 115,...
      10016-3872 2017-02-07  [[[90, 97, 107, 90, 77, 58], [90, 97, 107, 82,...
      10016-3936 2017-02-07  [[[132, 113, 115, 74, 49, 41], [123, 109, 107,...
      10016-4000 2017-02-07  [[[82, 61, 66, 66, 45, 41], [82, 61, 66, 66, 4...
      10016-4064 2017-02-07  [[[90, 65, 58, 66, 40, 41], [99, 65, 58, 66, 4...
      10016-4128 2017-02-07  [[[99, 69, 58, 82, 53, 49], [99, 69, 66, 82, 5...
      10016-4192 2017-02-07  [[[99, 65, 58, 90, 61, 49], [99, 65, 58, 99, 7...
      10016-4256 2017-02-07  [[[90, 85, 74, 82, 61, 58], [90, 85, 74, 90, 6...
      10016-4320 2017-02-07  [[[74, 81, 74, 99, 69, 66], [74, 85, 74, 107, ...
      10016-4384 2017-02-07  [[[99, 89, 82, 41, 40, 33], [107, 101, 90, 49,...
      10016-4448 2017-02-07  [[[99, 93, 90, 107, 81, 74], [90, 89, 82, 99, ...
      10016-4512 2017-02-07  [[[107, 73, 66, 82, 53, 49], [107, 73, 66, 90,...
      10016-4576 2017-02-07  [[[90, 69, 66, 99, 73, 58], [90, 69, 66, 99, 7...
      10016-4640 2017-02-07  [[[132, 138, 148, 115, 81, 74], [115, 121, 123...
      10016-4704 2017-02-07  [[[82, 73, 66, 58, 36, 33], [82, 73, 66, 58, 4...
      10016-4768 2017-02-07  [[[74, 73, 66, 123, 89, 82], [74, 73, 66, 123,...
      10016-4832 2017-02-07  [[[74, 81, 66, 132, 101, 99], [66, 77, 66, 123...
      10016-4896 2017-02-07  [[[90, 61, 58, 49, 36, 33], [90, 65, 58, 58, 3...
      10016-4960 2017-02-07  [[[90, 65, 58, 33, 32, 25], [99, 65, 58, 33, 3...
      10016-5024 2017-02-07  [[[90, 61, 58, 66, 45, 41], [90, 61, 58, 74, 5...
      10016-5088 2017-02-07  [[[82, 77, 66, 33, 28, 25], [82, 77, 66, 33, 3...
      10016-5152 2017-02-07  [[[58, 73, 58, 58, 36, 33], [58, 77, 66, 58, 4...
      10016-5216 2017-02-07  [[[49, 69, 58, 82, 61, 49], [49, 73, 58, 99, 6...
      10016-5280 2017-02-07  [[[90, 93, 82, 66, 45, 41], [90, 93, 82, 66, 4...
...                                                                        ...
      9952-6752  2017-02-07  [[[165, 166, 173, 123, 105, 90], [132, 134, 14...
      9952-6816  2017-02-07  [[[74, 81, 82, 82, 57, 49], [74, 77, 82, 90, 6...
      9952-6880  2017-02-07  [[[66, 69, 82, 74, 57, 49], [74, 77, 82, 49, 3...
      9952-6944  2017-02-07  [[[148, 150, 148, 189, 154, 140], [140, 138, 1...
      9952-7008  2017-02-07  [[[115, 121, 115, 165, 146, 123], [123, 125, 1...
      9952-7072  2017-02-07  [[[107, 105, 107, 107, 81, 74], [99, 97, 99, 1...
      9952-7136  2017-02-07  [[[66, 57, 74, 25, 24, 25], [66, 57, 74, 25, 2...
      9952-7200  2017-02-07  [[[148, 134, 132, 165, 134, 115], [148, 138, 1...
      9952-7264  2017-02-07  [[[173, 170, 173, 25, 12, 16], [181, 174, 173,...
      9952-7328  2017-02-07  [[[148, 138, 132, 255, 243, 222], [148, 138, 1...
      9952-7392  2017-02-07  [[[132, 117, 115, 16, 4, 0], [132, 121, 115, 3...
      9952-7456  2017-02-07  [[[99, 81, 82, 66, 45, 41], [107, 85, 90, 74, ...
      9952-7520  2017-02-07  [[[90, 77, 74, 82, 77, 74], [82, 73, 74, 74, 7...
      9952-7584  2017-02-07  [[[66, 85, 82, 140, 121, 115], [74, 89, 82, 99...
      9952-7648  2017-02-07  [[[123, 117, 115, 214, 182, 165], [115, 113, 1...
      9952-7712  2017-02-07  [[[99, 97, 99, 99, 65, 66], [107, 109, 107, 11...
      9952-7776  2017-02-07  [[[74, 73, 66, 90, 61, 58], [74, 77, 66, 90, 6...
      9952-7840  2017-02-07  [[[90, 77, 74, 66, 53, 41], [74, 61, 66, 74, 5...
      9952-7904  2017-02-07  [[[90, 77, 74, 66, 49, 49], [90, 77, 74, 74, 5...
      9952-7968  2017-02-07  [[[107, 93, 90, 90, 65, 58], [99, 85, 82, 107,...
      9952-8032  2017-02-07  [[[90, 77, 66, 107, 77, 66], [99, 81, 74, 99, ...
      9952-8096  2017-02-07  [[[49, 69, 58, 123, 89, 74], [58, 73, 58, 115,...
      9952-8160  2017-02-07  [[[74, 77, 66, 74, 49, 41], [74, 73, 66, 82, 5...
      9952-8224  2017-02-07  [[[107, 89, 82, 123, 89, 82], [107, 85, 82, 10...
      9952-8288  2017-02-07  [[[82, 81, 74, 90, 73, 66], [82, 81, 74, 74, 5...
      9952-8352  2017-02-07  [[[181, 178, 173, 255, 239, 214], [173, 178, 1...
      9952-8416  2017-02-07  [[[74, 77, 74, 66, 49, 41], [74, 77, 74, 66, 5...
      9952-8480  2017-02-07  [[[82, 81, 74, 74, 53, 49], [82, 77, 74, 66, 4...
      9952-8544  2017-02-07  [[[90, 93, 90, 99, 85, 82], [82, 93, 90, 82, 6...
      9952-8608  2017-02-07  [[[99, 93, 90, 74, 49, 41], [99, 93, 82, 90, 6...

[15574 rows x 7 columns]

In [25]:
print(feature_data['destroyed'].isnull().sum())
print(feature_data.index.get_level_values('date').unique())

14711
DatetimeIndex(['2017-02-07'], dtype='datetime64[ns]', name='date', freq=None)

And now we can save this data as a pickle file to retrieve it later.

In [19]:
feature_data.to_pickle('../logs/features/example_daraa.p')